/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;
}

a {
    text-decoration: none;
    color: black;
}

header{
height:70px;
background: #000000;
}

.layout-wrap{
  margin:0 auto;
  position: relative;
  max-width: 960px;
  min-width: 600px;
}

header a{
  position:relative;
  top:20px;
  text-indent:-999px;
  display:block;
}

header a img{
  position:absolute;
  left:10px;
}

.search-box{
    position: absolute;
    right: 1px;
}

body{
    background:url(../../img/body-background.jpg) no-repeat top center;
    background-size: 100% 100%;
    font-size: 14px;
    width: 100%;
}

.page-body{
    background: grey;
    overflow: hidden;
    padding: 1.171875%;
    height: 1200px;
}

#notifications{
    background: #D3C6C6;
    width: 100%;
    height: 25px;
}

p{
    padding: 3px 0 0 2px;
}

nav{
    width: 100%;
}

.nav-section {
    float: left;
    width: 32%;
    background: #000000;
    margin: 1%;
    height: 140px;
    position: relative;
}

.nav-section:first-of-type {
margin-left: 0;
}

.nav-section:last-of-type {
margin-right: 0;
}

.icons{
    height: 100%;
    overflow: hidden;
}


.icons > p{
    color: white;
    text-align: center;
    font-size: 16px;
}

.reports{
     background:  url(../../img/action-report-new.png) no-repeat 50% -180%;
}

.dashboard{
     background:  url(../../img/action-report-top.png) no-repeat 50% -180%;
}

.Tutorials{
     background:  url(../../img/actions-help.png) no-repeat 50% 210%;
}

.menu-hint p {
    width: 100%;
    background: #D3C6C6;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 30px;
    padding: 2% 0 0 3%;
}

.arrow{
    position: absolute;
    bottom: 10px;
    left: 90%;
    transition:transform 0.6s;
}

.action-list{
    display: none;
    background: white;
    position: absolute;
    top:140px;
    width: 100%;
    z-index: 30;
 /*    transition: transform .55s; */
}

.action-list li{
    border-bottom: 1px black solid;
}

.action-list li:last-of-type{
    border-bottom: none;
}

.nav-section:hover .action-list{
    display: block;
  /*   transform:translateY(20px); */
}

.nav-section:hover .arrow{
    transform:rotate(180deg);
}

li{
    margin: 3%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.tabs{
   width: 100%;
   height: 400px;
   margin-top: 1%;
}

.tabs ul li{
      background: #4D4753;
      width: 23.2%;
      height: 30px;
      margin: 1.2%;
      text-align: center;
      padding-top: 0.6%;
      float: left;
}

.tabs ul li a{
    color: #ffffff;
    width: 100%;
    display: inline-block;
}

.tabs ul li:first-of-type {
margin-left: 0;
}

.tabs ul li:last-of-type {
margin-right: 0;
}

#pre-fix-quick-reports, #pre-fix-fmy-folders , #pre-fix-my-team-folders , #pre-fix-public-folders{
    background:#D3C6C6;
    width: 100%;
    height:1200px;
    position: relative;
    top:38px;
}

 .links{
height: 30px;
position: absolute;
right: 2%;
top:20px;
}

.reports-form{
    width: 96%;
    background: white;
    position: absolute;
    top:50px;
    right: 2%;
    z-index:20;
}

select{
    z-index: 20;
    position: absolute;
    top:20px;
    left: 2%;
    width: 20%;
}

input[type="url"] , input[type="text"]{
    width: 30%;
}

legend{
    float: left;
    padding: 0 10% 0 2%;
}

fieldset {
    border: 0;
    margin: 2%;
    padding: 1%;
    background: #998E8E;
}

input[type="submit"]{
    background: black;
    color: white;
    padding: 3px 20px;
    border: none;
    margin-left: 5px;
}

.buttons{
    float: right;
    float: right;
    margin: 0% 2% 1%;
}

.hidden{
    display: none;
}

iframe{
    width: 96%;
    position: absolute;
    top: 50px;
    right: 2%;
}

.buttons > a{
    text-decoration: underline;
}

.tab:focus , .tab:hover{
    border: 1px solid blue;
    background: #413B47;
}

#active {
background: #D3C6C6;
}

#active a{
color: black;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
