nav{
    width: $full_width;
}

.nav-section {
    float: left;
    width: 32%;
    background: $black;
    margin: 1%;
    height: 140px;
    position: relative;

    &:first-of-type{
        margin-left: 0;
    }
    &:last-of-type{
        margin-right: 0;
    }
}

.icons{
    height: 100%;
    overflow: hidden;
}

.icons > p{
    color: $white;
    text-align: center;
    font-size: 16px;
}

.reports{
     background:  url(../../img/action-report-new.png) no-repeat 50% -180%;
}

.dashboard{
     background:  url(../../img/action-report-top.png) no-repeat 50% -180%;
}

.Tutorials{
     background:  url(../../img/actions-help.png) no-repeat 50% 210%;
}

.menu-hint p {
    width: $full_width;
    background: $ligthGrey;
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: 30px;
    padding: 2% 0 0 3%;
}

.arrow{
    position: absolute;
    bottom: 10px;
    left: 90%;
    transition:transform 0.6s;
}

.action-list{
    display: none;
    background: $white;
    position: absolute;
    top:140px;
    width: $full_width;
    z-index: 30;
/*     transition: transform .55s; */
}

.action-list li{
    border-bottom: 1px $black solid;

    &:last-of-type{
        border-bottom: none;
    }
}

.action-list li > a{
    display: block;
}

.nav-section:hover .action-list{
    display: block;
}

.nav-section:hover .arrow{
    transform:rotate(180deg);
}

i {
    position: relative;
    left: 8%;
}

%fa_font{
    font-family: FontAwesome;
    font-style: normal;
    color: $white;
    position: absolute;
    left: 0;
}

.fa_reports:before{
    content: "\f08E";
    @extend %fa_font;
}

.fa_folders:before{
    content: "\f006";
    @extend %fa_font;
}
.fa_team_folders:before{
    content: "\f115";
    @extend %fa_font;
}

.fa_public_folders:before{
    content: "\f0C5";
    @extend %fa_font;
}
